.searchForm {
  display: flex;
  margin-bottom: 20px;
}

.searchInput {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
}

.searchButton {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  background-color: #0070f3;
  border: none;
  border-radius: 0 4px 4px 0;

  &:hover {
    background-color: #0051bb;
  }
}
